@using Moriyama.Runtime.Extension
@model Moriyama.Runtime.Models.RuntimeContentModel
@{
    Layout = "Layout.cshtml";
}
<h1 class="page-title">Blog</h1>


@foreach (var post in Model.Descendants(new Dictionary<string, string> { {"Type","BlogPost"} }).OrderByDescending(post => post.CreateDate).Take(20))
{
    <article>
        <h2>
            <a href="@post.RelativeUrl">
                @post.Name
            </a>
        </h2>
        
        @Html.Partial("~/Views/Partials/PostMetaData.cshtml", post)

        @Html.Raw(@post.GetValue<string>("bodyText"))

        <footer>
            <a class="alignright" href="@post.RelativeUrl#comments">Comments (@post.Children().Count()) »</a>
        </footer>

    </article>
}