@using Moriyama.Runtime.Extension
@model Moriyama.Blog.Project.Models.CommentModel
@{
    Layout = "Layout.cshtml";
}

<article>
    <h1 class="page-title">@Model.Name</h1>

    @Html.Partial("~/Views/Partials/PostMetaData.cshtml", Model)
    @Html.Raw(Model.GetValue<string>("bodyText"))

</article>

@using (Html.BeginForm("Submit", "Post", null, FormMethod.Post, new Dictionary<string, object>() { { "class", "comment-form" }, { "role", "form" } }))
{
    <fieldset>
        <legend>Leave a comment</legend>

        @Html.ValidationSummary(false)
        <label for="name">
            Name
            <input id="name" name="CommentName" type="text" placeholder="Your name" required>
        </label>
        <label for="email">
            Email
            <input id="email" name="CommentEmail" type="email" placeholder="Your email address" required>

        </label>
        <label for="message">
            Message
            <textarea id="message" name="CommentMessage" placeholder="Your message" required></textarea>
        </label>

        <button type="submit">Submit</button>

    </fieldset>
}

@if (Model.Children().Any())
{
    <section class="comments" id="comments">
        <h2>Comments</h2>

        <ul class="comments-list">
            @foreach (var comment in Model.Children())
            {
                <li class="comment">

                    <img class="framed comment-avatar" src="http://www.gravatar.com/avatar/" alt="@(comment.GetValue<string>(" name"))">

                    <div class="comment-meta">
                        <h4>@(comment.GetValue<string>("name"))</h4>
                        <time class="comment-pubdate">@String.Format("{0:MMMM d, yyyy}", comment.CreateDate)</time>
                    </div>

                    <div class="comment-body">
                        <p>@Html.Raw(comment.GetValue<string>("bodyText"))</p>
                    </div>
                </li>
            }
        </ul>

    </section>
}